<div class="full-width">

  <button soho-button (click)="onToggleHeaderToolbar()">{{isShowingHeaderToolbar ? 'Remove Default Toolbar' : 'Show Header Toolbar'}}</button>
  <button soho-button (click)="onToggleHeaderTabs()">{{isShowingHeaderTabs ? 'Remove Header Tabs' : 'Show Header Tabs'}}</button>

  <div soho-tab-panel-container  id="header-demo-tab-panels" *ngIf="currentTabsOptions">
    <div soho-tab-panel *ngFor="let tab of currentTabsOptions.tabs" [tabId]="tab.id"><p>{{tab.content}}</p></div>
  </div>
</div>
