<soho-header [hasTabs]="hasHeaderTabs" [hasToolbar]="hasHeaderToolbar">

  <!-- header toolbar -->
  <soho-toolbar #appDynamicHeaderToolbar maxVisibleButtons="5" hasMoreButton="!currentToolbarOptions">

    <soho-toolbar-title>
      <button soho-nav-button>Show Navigation</button>
      <h1>
        <span [class.page-title]="sectionTitle" >SohoXI Angular Components</span>
        <span *ngIf="sectionTitle" class="section-title">{{sectionTitle}}</span>
      </h1>
    </soho-toolbar-title>

    <!-- If the currentToolbarOptions are NOT null/undefined then display the toolbar buttons
         using the toolbarOptions input. -->
    <!-- todo ppatton - for some reason if I put the ngIf='false' in the soho-toolbar-button-set
         then some div seems to be automatically created for me or something. Something in soho perhaps? -->
    <soho-toolbar-button-set>

      <!-- search field
      <input soho-toolbar-searchfield
        *ngIf="toolbarSearchField"
        placeholder="{{toolbarSearchField?.label}}"
        [(ngModel)]="toolbarSearchField.value"
        [collapsible]="true"
        [clearable]="true"
        (keyup.enter)="fireSearchEvent($event)"
        (cleared)="fireClearSearchEvent($event)"
      />
      -->

      <ng-template [ngIf]="currentToolbarOptions">
        <ng-template ngFor let-button [ngForOf]="currentToolbarOptions?.toolbarButtons">
          <button *ngIf="!button.menu" soho-button="{{button?.type}}" isToggle="{{button?.istoggle}}" icon="{{button?.icon}}" id="{{button?.id}}" attr.data-button="{{button?.data}}" toggleOnIcon="{{button?.toggleOnIcon}}" toggleOffIcon="{{button?.toggleOffIcon}}">{{button?.text}}</button>

          <ng-template [ngIf]="button.menu">
            <button soho-menu-button id="{{button?.id}}" menu="buttonPopupMenu" icon="{{button?.icon}}"  attr.data-button="{{button?.data}}" >
              {{button?.text}}</button>
            <div class="popupmenu-wrapper bottom" role="application" aria-hidden="true">
              <ul soho-popupmenu id="buttonPopupMenu">
                <li soho-popupmenu-item *ngFor="let item of button.menu" id="{{item?.id}}">
                  <a soho-popupmenu-label attr.data="{{item?.data}}">{{item?.text}}</a>
                </li>
              </ul>
            </div>
          </ng-template>
        </ng-template>
      </ng-template>

    </soho-toolbar-button-set>

    <!-- If the currentToolbarOptions are null/undefined then display the "default" toolbar buttons
         and more menu. -->
    <soho-toolbar-more-button>
      <ul class="popupmenu is-selectable">
        <li class="heading" role="presentation">Theme</li>
        <li class="is-selectable is-checked"><a href="#" [attr.data-theme]="defaultPersonalizeTheme">Default</a></li>
        <li class="is-selectable"><a href="#" data-theme="light-theme">Light</a></li>
        <li class="is-selectable"><a href="#" data-theme="dark-theme">Dark</a></li>
        <li class="is-selectable"><a href="#" data-theme="high-contrast-theme">High Contrast</a></li>
        <li class="separator"></li>
        <li class="heading" role="presentation">Personalization</li>
        <li class="is-selectable is-checked"><a [attr.data-rgbcolor]="defaultPersonalizeColor" href="#">Default</a></li>
        <li class="is-selectable"><a data-rgbcolor="#368AC0" href="#">Azure</a></li>
        <li class="is-selectable"><a data-rgbcolor="#EFA836" href="#">Amber</a></li>
        <li class="is-selectable"><a data-rgbcolor="#9279A6" href="#">Amethyst</a></li>
        <li class="is-selectable"><a data-rgbcolor="#579E95" href="#">Turqoise</a></li>
        <li class="is-selectable"><a data-rgbcolor="#76B051" href="#">Emerald</a></li>
        <li class="is-selectable"><a data-rgbcolor="#5C5C5C" href="#">Graphite</a></li>
      </ul>
    </soho-toolbar-more-button>

  </soho-toolbar>

  <div soho-tabs *ngIf="currentTabsOptions" #appDynamicHeaderTabs [containerElement]="currentTabsOptions.containerElementSelector">
    <div soho-tab-list-container>
      <ul soho-tab-list>
        <li soho-tab *ngFor="let tab of currentTabsOptions.tabs">
          <a soho-tab-title [tabId]="tab.id">{{tab.title}}</a>
        </li>
      </ul>
    </div>
  </div>

</soho-header>
