<div class="row top-padding">
  <div class="twelve columns">

  <!-- Input text field example. No soho components used-->
  <div class="field">
    <label id="label1" name="label1" soho-label for="field1" >{{normalText}}</label>
    <input id="field1" name="field1" soho-context-menu menu="action-popupmenu" value="Right Click Here"
           (selected)="onSelected()"
           (beforeopen)="onBeforeOpen()"
           (close)="onClose()"
           (open)="onOpen()" />
  </div>

  <!-- Text area example. Soho-textarea component used-->
  <div class="field">
    <label soho-label for="modifiable" id="label2" name="label2">{{modText}}</label>
    <textarea soho-textarea name="modifiable" [(ngModel)]="textModel.modifiableText" soho-context-menu menu="action-popupmenu"
              (selected)="onSelected()"
              (beforeopen)="onBeforeOpen()"
              (close)="onClose()"
              (open)="onOpen()" ></textarea>
  </div>

  <!-- Disabled text area example. Soho-textarea component used-->
  <div class="field">
    <label soho-label for="disable" id="label3" name="label3">{{disabledText}}</label>
    <textarea soho-textarea [disabled]="true" name="disable" [(ngModel)]="textModel.disableText" soho-context-menu menu="action-popupmenu"
              (selected)="onSelected()"
              (beforeopen)="onBeforeOpen()"
              (close)="onClose()"
              (open)="onOpen()" ></textarea>
  </div>

  <!-- Radio button example. Soho-radiobutton component used-->
  <div class="field">
    <label soho-label >{{radioButtonLabel}}</label>
    <input soho-radiobutton soho-trackdirty  name="optionsGroupVWO" id="optionVWO1" value="1" soho-context-menu menu="action-popupmenu" checked
           (selected)="onSelected()"
           (beforeopen)="onBeforeOpen()"
           (close)="onClose()"
           (open)="onOpen()" />
    <label soho-label for="optionVWO1" class="radio-label" soho-context-menu menu="action-popupmenu" >One</label>
    <input soho-radiobutton soho-trackdirty  name="optionsGroupVWO" id="optionVWO2" value="2" soho-context-menu menu="action-popupmenu"  />
    <label soho-label for="optionVWO2" class="radio-label" soho-context-menu menu="action-popupmenu"
           (selected)="onSelected()"
           (beforeopen)="onBeforeOpen()"
           (close)="onClose()"
           (open)="onOpen()">Two</label>
    <input soho-radiobutton soho-trackdirty  name="optionsGroupVWO" id="optionVWO3" value="3" soho-context-menu menu="action-popupmenu" />
    <label soho-label for="optionVWO3" class="radio-label" soho-context-menu menu="action-popupmenu"
           (selected)="onSelected()"
           (beforeopen)="onBeforeOpen()"
           (close)="onClose()"
           (open)="onOpen()" >Three</label>
    <input soho-radiobutton soho-trackdirty  name="optionsGroupVWO" id="optionVWO4" value="4" [attr.disabled]="true" soho-context-menu menu="action-popupmenu" />
    <label soho-label for="optionVWO4" class="radio-label" soho-context-menu menu="action-popupmenu"
           (selected)="onSelected()"
           (beforeopen)="onBeforeOpen()"
           (close)="onClose()"
           (open)="onOpen()" >Four Disabled</label>
  </div>

  <!-- Checkbox example. Soho-icon component used-->
  <div class="field">
    <label soho-label >{{checkboxButtonLabel}}</label>
    <input soho-checkbox type="checkbox" id="id1" name="checkbox1" [(ngModel)]="checkboxModel.checkBox1Value">
    <label soho-label for="id1" [forCheckBox]="true" soho-context-menu menu="action-popupmenu" >Unchecked</label>
    <br>
    <input soho-checkbox type="checkbox" id="id2" name="checkbox2" [(ngModel)]="checkboxModel.checkBox2Value" soho-context-menu menu="action-popupmenu" >
    <label soho-label for="id2" [forCheckBox]="true" soho-context-menu menu="action-popupmenu" >Checked</label>
  </div>

  <!-- Rich text area example. Soho-editor component used-->
  <div class="field">
    <span class="label">{{richTextEditorLabel}}</span>
    <div soho-editor id="editor1" role="textbox" aria-multiline="true" aria-label="Comments" soho-context-menu menu="action-popupmenu"
         (selected)="onSelected()"
         (beforeopen)="onBeforeOpen()"
         (close)="onClose()"
         (open)="onOpen()">{{editorModel.editorText}}</div>
  </div>

  <!-- Context menu used in all examples (except the menu button)-->
  <ul soho-popupmenu id="action-popupmenu">
    <li soho-popupmenu-item *ngFor="let menuEntry of contextEntries" [isDisabled]="menuEntry.disabled">
      <a soho-popupmenu-label *ngIf="!menuEntry.url" menuId="{{menuEntry.id}}">{{menuEntry.displayString}}<span class="shortcut-text">{{menuEntry.shortcut}}</span></a>
      <a soho-popupmenu-label *ngIf="menuEntry.url" menuUrl="{{menuEntry.url}}">{{menuEntry.displayString}}<span class="shortcut-text">{{menuEntry.shortcut}}</span></a>
    </li>
  </ul>

  <div class="twelve columns" soho-context-menu menu="menu-two">
    <h2>Text with context menu <br /><br /></h2>
    <div class="field">
      <ul>
        <li soho-context-menu menu="menu-one">
          <a href="">I am a link with a context menu</a>
        </li>
      </ul>
    </div>
  </div>

  <ul soho-popupmenu id="menu-one">
    <li soho-popupmenu-item><a soho-popupmenu-label  href="#">Menu One Foo</a></li>
    <li soho-popupmenu-item><a soho-popupmenu-label  href="#">Menu One Bar</a></li>
  </ul>
  <ul soho-popupmenu id="menu-two">
    <li soho-popupmenu-item><a soho-popupmenu-label  href="#">Menu Two Foo</a></li>
    <li soho-popupmenu-item><a soho-popupmenu-label  href="#">Menu Two Bar</a></li>
  </ul>

  </div>
</div>
