<div soho-homepage style="height: 100%;"
  (resize)="onResize($event)">

    <div soho-widget bordered="true">
      <div soho-widget-header>
        <div class="widget-header-section title">
          <h2 class="widget-title">List view buyer exceptions</h2>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-2" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu-2">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content>
        <div
          #dialogWidgetView
          class="lm-size-full lm-scroll-no-x lm-scroll-no-y lm-display-flex-column">
          <div class="listview-search search-box">
            <input
              soho-searchfield
              [(ngModel)]="searchText"
              placeholder="{{ language.searchPlaceholder }}"
              [clearable]="true"
              (cleared)="onSearchClear()" />
          </div>
          <soho-listview [selectable]="false">
            <li
              soho-listview-item
              class="lm-no-border lm-padding-sm-b lm-padding-sm-t">
              <div class="row lm-margin-zero-b lm-margin-zero-t">
                <div class="three columns">
                  <label>&nbsp;</label>
                </div>
                <div class="three columns align-text-center lm-info-text">
                  {{ language.poRequests }} <br />
                  {{ language.info }}
                </div>
                <div class="two columns align-text-center lm-info-text">
                  {{ language.unresolveMessage }}
                </div>
                <div class="three columns align-text-center lm-info-text">
                  {{ language.poAck }} <br />
                  {{ language.ack }}
                </div>
                <div class="one columns">
                  <label>&nbsp;</label>
                </div>
              </div>
            </li>
          </soho-listview>
          <div class="lm-scroll-vert">
            <soho-listview [selectable]="false">
              <li
                soho-listview-item
                *ngFor="let item of buyerCountsArray"
                class="lm-padding-zero-r lm-padding-sm-t lm-padding-md-b">
                <div class="row lm-margin-sm-b lm-padding-zero-r">
                  <div
                    class="one column image lm-padding-sm-t lm-margin-zero-l lm-margin-lg-r">
                    <div
                      [ngClass]="item.buyerColor"
                      *ngIf="item.buyerProfile"
                      class="avatar large round">
                      <div tabindex="0">{{ item.buyerProfile }}</div>
                    </div>
                  </div>
                  <div class="three columns lm-padding-sm-t lm-margin-md-l">
                    <p class="listview-heading">{{ item.BuyerName }}</p>
                    <p class="listview-subheading font-size-px-14">
                      {{ item.buyer }}
                    </p>
                  </div>
                  <div
                    class="two columns lm-margin-md-l lm-padding-xl-t align-text-center lm-padding-xl-r">
                    <span class="font-size-px-20 text-strong text-muted">
                      {{ item.counts[0] }}
                    </span>
                  </div>
                  <div
                    class="two columns lm-margin-xl-l lm-padding-lg-l lm-padding-xl-t lm-margin-xl-r align-text-center">
                    <span class="font-size-px-20  text-strong text-muted">
                      {{ item.counts[1] }}
                    </span>
                  </div>
                  <div class="two columns lm-padding-xl-t align-text-center">
                    <span class="font-size-px-20 text-strong text-muted">
                      {{ item.counts[2] }}
                    </span>
                  </div>
                  <div
                    class="two columns align-text-right lm-pull-right"
                    style="padding-top:18px">
                    <button
                      soho-button="tertiary"
                      icon="print-preview"
                      (click)="openList(item.BuyerName)">
                      {{ language.review }}
                    </button>
                  </div>
                </div>
              </li>
            </soho-listview>
          </div>
        </div>
      </div>
    </div>

    <div soho-widget bordered="true">
      <div soho-widget-header>
        <div class="widget-header-section title">
          <h2 class="widget-title">List view Company Groups</h2>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-3" trigger="click" class="btn-actions">More</button>
          <ul soho-popupmenu id="action-popupmenu-3">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content>
        <div
          #dialogWidgetView
          class="lm-size-full lm-scroll-no-x lm-scroll-no-y lm-display-flex-column">
          <div class="listview-search search-box">
            <input
              soho-searchfield
              [(ngModel)]="searchText"
              placeholder="{{ language.searchPlaceholder }}"
              [clearable]="true"
              (cleared)="onSearchClear()" />
          </div>
          <div class="lm-scroll-vert">
            <soho-listview *ngIf="modalGroupMessages.length !== 0">
              <li
                soho-listview-item
                class="lm-padding-md"
                *ngFor="let item of modalGroupMessages">
                <p class="listview-heading text-strong">{{ item.GroupType }}</p>
                <p *ngIf="item.GroupdataLocation" class="listview-subheading">
                  {{ item.GroupdataCompany }}, {{ item.GroupdataLocation }}
                </p>
                <p *ngIf="!item.GroupdataLocation" class="listview-subheading">
                  {{ item.GroupdataCompany }}
                </p>
                <p class="listview-subheading">
                  {{ language.itemLabel }}: {{ item.GroupdataItem }}
                </p>
              </li>
            </soho-listview>
          </div>
        </div>
      </div>
    </div>

    <div soho-widget
      bordered="true">
      <div soho-widget-header>
        <div class="widget-header-section title">
          <h2 class="widget-title">Bordered</h2>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-4" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu-4">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content>
      </div>
    </div>

    <div soho-widget
      bordered="true">
      <div soho-widget-header>
        <div class="widget-header-section title">
          <h2 class="widget-title">Bordered With Actions</h2>
        </div>
        <div class="widget-header-section custom-action">
          <button type="button" class="btn-icon" id="tertiary-filter-one">
            <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
              <use href="#icon-add"></use>
            </svg>
            <span>Add</span>
          </button>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-21" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu-21">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content>
      </div>
    </div>

    <div soho-widget
      bordered="true"
      contentPaddingX="16"
      contentPaddingY="16">
      <div soho-widget-header>
        <div class="widget-header-section title">
          <h2 class="widget-title">Bordered with Padding</h2>
        </div>
        <div class="widget-header-section custom-action">
          <button type="button" class="btn-icon" id="tertiary-filter-two">
            <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
              <use href="#icon-search"></use>
            </svg>
            <span>Search</span>
          </button>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content>
        <p>Introducing our new line of sustainable and eco-friendly products! We're committed to reducing our environmental
          impact and creating products that are better for the planet. Our new line features materials such as organic
          cotton, recycled plastic, and bamboo, all of which are renewable and biodegradable.</p>
      </div>
    </div>

    <div soho-widget
      bordered="false"
      contentPaddingX="16"
      contentPaddingY="16">
      <div soho-widget-header>
        <div class="widget-header-section title">
          <h2>Borderless</h2>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-5" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu-5">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content>
        <p>Introducing our new line of sustainable and eco-friendly products! We're committed to reducing our environmental
          impact and creating products that are better for the planet. Our new line features materials such as organic
          cotton, recycled plastic, and bamboo, all of which are renewable and biodegradable.</p>
      </div>
    </div>

    <div soho-widget
      bordered="false"
      contentPaddingX="16"
      contentPaddingY="16">
      <div soho-widget-header>
        <div class="widget-header-section title">
          <h2>Borderless with Actions</h2>
        </div>
        <div class="widget-header-section custom-action">
          <button type="button" class="btn-icon" id="tertiary-filter-three">
            <svg role="presentation" aria-hidden="true" focusable="false" class="icon">
              <use href="#icon-map-pin"></use>
            </svg>
            <span>Add</span>
          </button>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-6" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu-6">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content>
        <p>Welcome to our fitness app! With our app, you can easily track your daily workouts and monitor your progress towards your fitness goals. Whether you're a beginner or an experienced athlete, our app has something for everyone. You can choose from a variety of workout plans and customize them to fit your needs.</p>
      </div>
    </div>

    <div soho-widget
      bordered="true">
      <div soho-widget-header>
        <div class="widget-header-section title">
          <h2>Search</h2>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-7" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu-7">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content style="overflow:visible">
        <div class="listview-search">
          <input soho-searchfield placeholder="Search My List" [clearable]="true">
        </div>
        <div class="listview" id="search-listview" data-init="false">
          <soho-listview
          [dataset]="demoTasks">
          <li soho-listview-item *ngFor="let data of demoTasks" [disabled]="data.disabled ? true : false">
            <p soho-listview-header>Task #{{data.task}}</p>
            <p soho-listview-subheader>{{data.desc}}</p>
            <p soho-listview-micro>DUE: {{data.date}}</p>
          </li>
        </soho-listview>
        </div>
      </div>
    </div>

    <div soho-widget
      bordered="true">
      <div soho-widget-header>
        <div class="widget-header-section title">
          <h2>Search on a widget</h2>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-8" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu-8">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content>
        <div class="listview-search">
          <label class="audible" for="gridfilter">Search</label>
          <input soho-searchfield placeholder="Search My List" [clearable]="true">
        </div>
        <div class="fake-content" style="height: calc(100% - 48px);overflow: auto;border-top: 1px solid transparent">
          <div class="fake-content" style="height: 1000px"></div>
        </div>
      </div>
    </div>

    <div soho-widget
      bordered="true"
      contentPaddingX="16"
      contentPaddingY="16"
      detailRefId="trigger-btn">
      <div soho-widget-header>
        <div class="widget-header-section detail-title">
          <h2 class="widget-title">Detail View</h2>
        </div>
        <div class="widget-header-section detail-custom-action">
          <button type="button" class="btn-icon" id="star-id">
            <span>Star</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-star-outlined"></use>
            </svg>
            <span class="audible">Star</span>
          </button>
          <button type="button" class="btn-icon" id="new-doc-id">
            <span>New Document</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-new-document"></use>
            </svg>
            <span class="audible">New Document</span>
          </button>
        </div>
        <div class="widget-header-section title">
          <h2 class="widget-title">Back Button</h2>
          <p class="label font-size-px-14 m-bottom-0">Example Subtitle</p>
        </div>
        <div class="widget-header-section custom-action">
          <button type="button" class="btn-icon" id="search-id">
            <span>Calendar</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-calendar"></use>
            </svg>
            <span class="audible">Calendar</span>
          </button>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-9" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu-9">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>

      <div soho-widget-content class="has-back-button">
        <div class="content-main">
          <button id="trigger-btn" type="button" class="btn-secondary">Click to open the detail view</button>
        </div>
        <div class="content-detail">
          <p>Happy Birthday!</p>
          <p>Wishing you a day filled with joy, laughter, and wonderful memories. May this new year of your life bring you
            happiness, success, and all the things you've been dreaming of. Enjoy your special day to the fullest! Cheers to
            another amazing year ahead!</p>
        </div>
      </div>
    </div>
    <div soho-widget
      bordered="true"
      class="show-buttons">
      <div soho-widget-header>
        <div class="widget-header-section title">
          <h2 class="widget-title">Badge</h2>
          <span class="round info badge">5</span>
        </div>
        <div class="widget-header-section custom-action">
          <button type="button" class="btn-icon" id="search-id2">
            <span>Search</span>
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use href="#icon-search"></use>
            </svg>
            <span class="audible">Search</span>
          </button>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-10" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu-10">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content></div>
    </div>

    <div soho-widget
      bordered="true">
      <div soho-widget-header
        class="has-subtitle">
        <div class="widget-header-section title">
          <h2 class="widget-title">Title</h2>
          <p class="label font-size-px-14 m-bottom-0">Subtitle</p>
        </div>
        <div class="widget-header-section more">
          <button soho-button="icon" icon="vertical-ellipsis" soho-context-menu menu="action-popupmenu-11" trigger="click" class="btn-actions">Settings</button>
          <ul soho-popupmenu id="action-popupmenu-11">
            <li soho-popupmenu-item><a soho-popupmenu-label>Action One</a></li>
            <li soho-popupmenu-item><a soho-popupmenu-label>Action Two</a></li>
          </ul>
        </div>
      </div>
      <div soho-widget-content></div>
    </div>

</div>
