# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/obj
/bin
/src/assets/sohoxi
*.tgz

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vs

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Publish
publish/*
publish/soho/**
!publish/package.json
!publish/.release-it.json
!publish/.npmignore

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
package-lock.json
yarn.lock

# e2e
/e2e/*.js
/e2e/*.map

# karma
/mocha.json

#System Files
.DS_Store
Thumbs.db
/.gitattributes
