<div class="row">
    <div class="twelve columns">
        <h2 class="fieldset-title">Soho Data Grid - Dynamic</h2>
        <div class="field">
            <button soho-button (click)="enable($event)">Enable</button>
            <button soho-button (click)="disable($event)">Disable</button>
            <button soho-button (click)="busy($event)">Busy</button>
        </div>
    </div>
</div>
<br>
<div class="example-section scrollable" role="main">   
    <section class="scrollable contained-scrolling-right-bottom ">
    <div soho-datagrid (selected)="onSelected($event)" [columns]="columns | async" [data]="data | async"></div>
  </section>
    
</div>
