
:host {
  transition: height 0.5s ease;
  width: 100%;
}

:host .code-block {
  display: inline-block;
  padding: 4px 0 0px 4px;
  width: calc(100% - 58px);
}

/* Show Labels Functionality */
:host(.hide-labels) ::ng-deep label {
  display: none;
}

:host(.hide-labels) ::ng-deep .field-options {
  margin-right: 15px;
}

/* Right Buttons */
:host ::ng-deep .code-block-container > button {
  display: inline-block;
}

:host .code-block-actions {
  transform: rotate(90deg);
  left: -17px;
  visibility: visible;
}

:host .code-block-buttons {
  position: absolute;
  top: 50%;
  margin-top: 18px;
  right: 5px;
}

/* Style Parent and inner Focus */
:host .code-block:focus-within {
  border: 1px solid #368ac0;
}

:host ::ng-deep .field:focus-within {
  border: 1px solid #368ac0;
}

:host ::ng-deep .field.is-active .field-options:not([disabled]) {
  border-color: transparent;
}

/* Make Label and Input Inline */
:host ::ng-deep .lookup-wrapper,
:host ::ng-deep .label {
  display: inline;
}

:host ::ng-deep .field {
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 4px;
  padding-left: 11px;
  margin-right: -14px;
}

:host ::ng-deep .field:not(:last-of-type):not(.is-active)::after {
  content: '•';
  position: absolute;
  font-size: 18px;
  color: #5C5C5C;
  right: 14px;
  top: 7px;
  width: 4px;
}

:host ::ng-deep .field.is-active::after {
  content: '';
}

/* Adjst labels and input styles */
:host ::ng-deep .label {
  position: relative;
  top: -1px;
}

:host ::ng-deep input {
  border-color: transparent;
  padding-left: 0;
  transition: margin .5s ease, left .5s ease, padding .5s ease, width .5s ease;
  width: initial;
}

:host ::ng-deep .lookup {
  padding: 8px 0 8px 1px;
}

/* Add a : After the label */
:host ::ng-deep .label::after {
  content: ':';
}

/* Make Elements Sit Well Next to Each other */
:host ::ng-deep .field-options {
  margin-left: 0;
  margin-right: 25px;
}

:host ::ng-deep .trigger {
  visibility: hidden;
  margin-left: -36px;
  position: relative;
  top: -3px;
}

:host ::ng-deep input.is-active + .trigger {
  visibility: visible;
}

:host ::ng-deep input.is-active + .trigger + .btn-actions {
  visibility: visible;
}

:host ::ng-deep .field.is-active::before {
  visibility: hidden;
}

:host ::ng-deep input.is-active {
  padding-right: 10px;
}

/* Adjust the Field Options */
:host ::ng-deep .btn-actions {
  visibility: hidden;
  left: -15px;
  margin-right: -22px;
}

/* Readonly Styles */
:host ::ng-deep .data {
  padding-left: 3px;
  padding-right: 41px;
  font-size: 1.4rem;
}

:host ::ng-deep .input-style.is-readonly .field::after {
  right: 20px;
  top: -3px;
}

/* Grid Formatter Adjustments */
.datagrid :host .code-block {
  border: none;
  padding: 0;
  margin-left: -13px;
}

.datagrid :host ::ng-deep .field {
  margin-bottom: 0px;
}

.datagrid :host ::ng-deep .field::after {
  top: -1px;
}

.datagrid :host ::ng-deep .code-block-buttons {
  display: none;
}
