<div soho-step (beforestepchange)="stepChange($event);">
  <div soho-steps-list-title>
    Title will go here
  </div>
  <div soho-steps-list>
    <div *ngFor="let step of steps">
      <div soho-step-list-item *ngIf="step.content">
        <soho-icon icon="{{step.icon}}" alert=true></soho-icon>
        <a soho-step-list-item-anchor attr.stepId="{{step.id}}">
          <span>{{step.title}}</span>
        </a>
      </div>
      <div soho-step-list-item-header *ngIf="step.substeps">
        <soho-icon icon="{{step.icon}}" alert=true></soho-icon>
        <a href="#">
          <span>{{step.title}}</span>
        </a>
      </div>

      <div soho-step-list-items  *ngIf="step.substeps">
        <div soho-step-list-item *ngFor="let substep of step.substeps">
          <soho-icon icon="{{substep.icon}}" alert=true></soho-icon>
          <a soho-step-list-item-anchor attr.stepId="{{substep.id}}">
            <span>{{substep.title}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div soho-step-content-title>
    <div>Preferences</div>
    <small>Small text here</small>
  </div>
  <div soho-step-content>
    <div *ngFor="let step of steps">
      <div soho-step-content-panel *ngIf="step.content" attr.stepId="{{step.id}}">
        <p>{{step.content}}</p>
      </div>
      <div *ngIf="step.substeps">
        <div soho-step-content-panel *ngFor="let substep of step.substeps" attr.stepId="{{substep.id}}">
          <p>{{substep.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
