<div class="row  no-scroll full-width scrollable-flex">
  <div class="twelve columns">
    <div soho-wizard (afteractivated)="onActivated($event)">
      <div soho-wizard-header>
        <a soho-wizard-tick tickId="1" [label]="'Select Files to Export'"></a>
        <a soho-wizard-tick tickId="2" [label]="'Export Options'"></a>
        <a soho-wizard-tick tickId="3" [label]="'Confirmation'"></a>
        <a soho-wizard-tick tickId="4" [label]="'Finished'"></a>
      </div>
      <div soho-wizard-pages class="scrollable-area no-scroll full-width" style="height:200px">
        <div *ngIf="currentTick==1" soho-wizard-page tickid="1" height="70%">
          <div>
            <h2>Page 1</h2>
            <form>
            </form>
          </div>
        </div>
        <div *ngIf="currentTick==2" soho-wizard-page tickid="2" height="70%">
          <div>
            <h2>Page 2</h2>
            <form>
            </form>
          </div>
        </div>
        <div *ngIf="currentTick==3" soho-wizard-page tickid="3">
          <p>Page 3</p>
        </div>
        <div *ngIf="currentTick==4" soho-wizard-page tickid="4">
          <p>Page 4</p>
        </div>
      </div>
      <div class="buttonset">
        <button soho-button (click)="previous()">Previous</button>
        <button soho-button (click)="next()">Next</button>
        <button soho-button (click)="finish()">Finish</button>
      </div>
    </div>
  </div>
</div>
