<soho-toolbar #SohoToolbarComponent [maxVisibleButtons]="_maxVisibleButtons" favorButtonset="true"
  resizeContainers="true">

  <soho-toolbar-title>

    <!-- in header -->
    <button *ngIf="inHeader" class="btn-icon application-menu-trigger" type="button">
      <span class="audible">Show navigation</span>
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use href="#icon-menu"></use>
      </svg>
    </button>
    <h1 *ngIf="inHeader" class="titleHeader">
      <span *ngIf="pageTitle" class="section-title">{{_pageTitle}}</span>
      <span *ngIf="sectionTitle" class="page-title">{{_sectionTitle}}</span>
    </h1>

    <!-- if not in the header -->
    <span *ngIf="!inHeader" class="page-title">{{_sectionTitle}}</span>
  </soho-toolbar-title>

  <soho-toolbar-button-set>
    <!-- buttons -->
    <ng-template ngFor let-b [ngForOf]="_buttons">

      <ng-container *ngIf="b?.icon; else TextButton">
        <button soho-button="icon" *ngIf="!b.menu && b.state.visible" icon="{{b?.icon}}" attr.data-button="{{b?.data}}"
          [attr.disabled]="b.state.disabled ? true : null">{{b?.text}}</button>
      </ng-container>
      <ng-template #TextButton>
        <button soho-button="btn" *ngIf="!b.menu && b.state.visible" icon="{{b?.icon}}" attr.data-button="{{b?.data}}"
          [attr.disabled]="b.state.disabled ? true : null">{{b?.text}}</button>
      </ng-template>

      <ng-template [ngIf]="b.menu && b.state.visible">
        <button soho-menu-button [icon]="b?.icon" attr.data-button="{{b?.data}}" title="{{b?.title}}"
          [attr.disabled]="b.state.disabled ? true : null"></button>
        <!--
        Must include wrapper popup menu wrapper when using inside an ngIf statement. See ng-template [ngIf] above. Angular
        keeps track of elements when an ngIf is used. If the element get moved by soho then angular will be out of sync
        and throw an exception
        -->
        <div class="popupmenu-wrapper bottom" role="application" aria-hidden="true">
          <ul class="popupmenu">
            <li *ngFor="let i of b.menu">
              <a href="#" attr.data-button="{{i?.data}}">{{i?.text}}</a>
            </li>
          </ul>
        </div>
      </ng-template>

    </ng-template>
  </soho-toolbar-button-set>

</soho-toolbar>
