<div>
  <soho-swaplist-card type="available" title="{{availableCardTitle}}">
    <button soho-button="icon" icon="right-arrow" class="btn btn-moveto-selected" title="Select"></button>
  </soho-swaplist-card>
  <soho-swaplist-card type="selected" title="{{selectedCardTitle}}">
    <button soho-button="icon" icon="left-arrow" class="btn btn-moveto-left" title="Move to left"></button>
    <button *ngIf="showFullAccessCard" soho-button="icon" icon="right-arrow" class="btn btn-moveto-right" title="Move to right">
    </button>
  </soho-swaplist-card>
  <soho-swaplist-card *ngIf="showFullAccessCard" type="full-access" title="{{fullAccessCardTitle}}">
     <button soho-button="icon" icon="left-arrow" class="btn btn-moveto-selected" title="Move to left"></button>
  </soho-swaplist-card>
</div>
