
.block {
  display: inline-flex;
}

/* needed to override card contents */
.soho-blockgrid .block {
  display: flex;
  text-align: left;
  width: 275px;
  height: 95px;
  min-height: 95px;
  padding: 10px;
  border: 1px solid #bdbdbd;
}

.soho-blockgrid .block img {
  margin-right: 15px;
}

.soho-blockgrid .block img + div {
  margin-top: 10px;
}

.title {
  margin-top: 20px;
  font-size: 1.4em;
  white-space: nowrap
}

.sub-title {
  font-size: 1.2em;
  white-space: nowrap
}
