<div class="modal-content" style="width: 90vw; height: 90vh">
  <div class="modal-header">
    <soho-toolbar-flex class="flex-toolbar">
      <soho-toolbar-flex-section [isTitle]="true">
        <h1>CAP Searchfield Demo</h1>
      </soho-toolbar-flex-section>
      <soho-toolbar-flex-section [isSearch]="true">
        <input soho-toolbar-flex-searchfield [collapsible]="true" [clearable]="true" />
      </soho-toolbar-flex-section>
      <soho-toolbar-flex-section [isButtonSet]="true">
        <button soho-menu-button soho-context-menu trigger="click" menu="cap-demo-popupmenu">
          Menu
        </button>
        <ul soho-popupmenu id="cap-demo-popupmenu">
          <li soho-popupmenu-item>
            <a soho-popupmenu-label>
              Item 1
            </a>
          </li>
        </ul>

        <button soho-button="btn" icon="close" (click)="close()">Close</button>
      </soho-toolbar-flex-section>
    </soho-toolbar-flex>
  </div>
  <div class="modal-body-wrapper">
    <div class="row">
      <div class="twelve-columns">
        <h1>Hello CAP with searchfield in a flex toolbar!</h1>
      </div>
    </div>
  </div>
</div>
