<div class="row form-responsive no-indent">
  <div class="full-width column">
    <div class="field">
      <label for="context-type">Type</label>
      <select class="dropdown" id="context-type" name="type">
        <option value="1">Context #1</option>
        <option value="2">Context #2</option>
        <option value="3">Context #3</option>
        <option value="4">Context #4</option>
        <option value="5">Context #5</option>
      </select>
    </div>

    <div class="field">
      <label for="context-name" class="required">Name</label>
      <input id="context-name"  aria-required="true" name="context-name" type="text"/>
    </div>

    <div class="field">
     <label for="context-desc" class="required">Page Title</label>
     <textarea id="context-desc" aria-required="true" name="context-desc" maxlength="50"></textarea>
    </div>
  </div>
</div>
