<div>
  <div class="field">
    <input type="checkbox" class="checkbox" id="allowOpen" [(ngModel)]="allowOpen">
    <label for="allowOpen" class="checkbox-label">Allow Open (broken!)</label>
  </div>
  <div class="field">
    <input type="checkbox" class="checkbox" id="allowClose" [(ngModel)]="allowClose">
    <label for="allowClose" class="checkbox-label">Allow Close</label>
  </div>
  <div class="field">
    <input type="checkbox" class="checkbox" id="allowDestroy" [(ngModel)]="allowDestroy">
    <label for="allowDestroy" class="checkbox-label">Allow Destroy (broken!)</label>
  </div>
</div>
