<div class="row">
  <div class="twelve columns">

    <div soho-tabs registerForEvents="activated" (activated)="onTabActivated($event)">
      <div soho-tab-list-container>
        <ul soho-tab-list>
          <li soho-tab *ngFor="let tab of tabs"><a soho-tab-title [tabId]="tab.id">{{tab.title}}</a></li>
        </ul>
      </div>
    </div>

    <div soho-tab-panel-container>
      <div soho-tab-panel *ngFor="let tab of tabs" [tabId]="tab.id"><p>{{tab.content}}</p></div>
    </div>

  </div>
</div>
