<div class="row">
  <br />
  <button soho-button="primary" (click)="addLongTab()">Add Long Tab</button>
  <br />
  <br />
  <div soho-tabs #longTitle [maxWidth]="200">
    <div soho-tab-list-container>
      <ul soho-tab-list>
        <li soho-tab *ngFor="let tab of longData">
          <a soho-tab-title [tabId]="tab.id">{{ tab.title }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div soho-tab-panel-container>
    <div soho-tab-panel *ngFor="let tab of longData" [tabId]="tab.id">
      <div class="row">
        <div class="twelve columns">
          <p>{{ tab.body }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
