<div style="padding: 20px 20px 0 20px;">
  <div class="row">
    <div class="inline">
      <button soho-button (click)="onChangeTabs()">Change Tabs</button>
      <button soho-button (click)="onChangeTitles()">Change Titles</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="twelve columns">

    <div soho-tabs registerForEvents="activated" (activated)="onActivated($event)">
      <div soho-tab-list-container>
        <ul soho-tab-list>
          <li soho-tab *ngFor="let tab of tabs"><a soho-tab-title [tabId]="tab.id">{{tab.title}}</a></li>
        </ul>
      </div>
    </div>

    <div soho-tab-panel-container>
      <div soho-tab-panel *ngFor="let tab of tabs" [tabId]="tab.id"><p>{{tab.content}}</p></div>
    </div>

  </div>
</div>
