<div [ngClass]="expandableAreaClasses">

  <div *ngIf="header" [ngClass]="headerClasses">
    <ng-content select="soho-expandable-header"></ng-content>
  </div>

  <div *ngIf="hasFixedPane" [ngClass]="visiblePaneClasses">
    <div class="content">
      <ng-content select="soho-expandable-pane[fixed=true]"></ng-content>
    </div>
  </div>

  <div [ngClass]="paneClasses">
    <div class="content">
      <ng-content select="soho-expandable-pane"></ng-content>
    </div>
  </div>

  <div *ngIf="footer" [ngClass]="footerClasses">
    <ng-content select="soho-expandable-footer"></ng-content>
  </div>
</div>
