

<form>
  <div class="row top-padding">
    <div class="twelve columns">
      <div class="field">
        <label class="label" for="title">Title</label>
        <input type="text" id="title" value="The Page Title">
      </div>

      <div class="field">
        <span class="label">Comments</span>
        <div soho-editor id="editor1" role="textbox" aria-multiline="true" aria-label="Comments" [innerHtml]="model.editorText"></div>
        <button soho-button [disabled]="editorReadOnly" (click)="setReadonly()">Read Only</button>
        <button soho-button [disabled]="editorDisabled" (click)="setDisable()">Disable</button>
        <button soho-button [disabled]="!editorDisabled && !editorReadOnly" (click)="setEnable()">Enable</button>
        <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
      <button soho-button (click)="showMultipleEditors = !showMultipleEditors">Toggle display of multiple editors</button>
      </div>

      <div *ngIf="showMultipleEditors">
        <div soho-editor id="editor2" role="textbox" aria-multiline="true" aria-label="Comments"></div>
        <div soho-editor id="editor3" role="textbox" aria-multiline="true" aria-label="Comments"></div>
      <!-- For More of a stress test
        <div soho-editor id="editor4" role="textbox" aria-multiline="true" aria-label="Comments"></div>
        <div soho-editor id="editor5" role="textbox" aria-multiline="true" aria-label="Comments"></div>
        <div soho-editor id="editor6" role="textbox" aria-multiline="true" aria-label="Comments"></div> -->
      </div>

      <div *ngIf="showModel">
        <pre>{{ model | json }}</pre>
      </div>

    </div>
  </div>
</form>
