<div style="padding: 20px 20px 0 20px;">
  <div class="row">
    <div class="inline">
      <button soho-button (click)="onInsertCommentButtonClicked()">{{insertCommentText}} Insert Comment Item</button>
      <button soho-button (click)="onInsertNoteClicked()">{{insertNoteText}} Insert Note Item</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="twelve columns">
    <div class="field">
      <label for="input-menu">Label</label>
      <input id="input-menu" type="text" value="Right Click Me" soho-context-menu menu="action-popupmenu" trigger="rightClick"
        (selected)="onSelected($event)"
        (beforeopen)="onBeforeOpen($event)"
        (close)="onClose($event)"
        (open)="onOpen($event)"
      >
    </div>

    <div class="field">
      <label for="input-menu2">Label2</label>
      <input id="input-menu2" type="text"  value="Right Click Me" soho-context-menu menu="action-popupmenu" trigger="rightClick"
        (selected)="onSelected($event)"
        (beforeopen)="onBeforeOpen($event)"
        (close)="onClose($event)"
        (open)="onOpen($event)"
      >
    </div>

    <ul soho-popupmenu id="action-popupmenu">
      <li soho-popupmenu-item><a soho-popupmenu-label>Cut <span soho-popupmenu-shortcut-text>⌘+X</span></a></li>
      <li soho-popupmenu-item><a soho-popupmenu-label>Copy <span soho-popupmenu-shortcut-text>⌘+C</span></a></li>
      <li soho-popupmenu-item><a soho-popupmenu-label>Paste <span soho-popupmenu-shortcut-text>⌘+V</span></a></li>
      <li soho-popupmenu-item [subMenu]="true">
        <a soho-popupmenu-label>Paste Special</a>
        <ul>
          <li soho-popupmenu-item><a soho-popupmenu-label>Sub Menu 1</a></li>
          <li soho-popupmenu-item><a soho-popupmenu-label>Sub Menu 2</a></li>
        </ul>
      </li>
      <li soho-popupmenu-separator></li>
      <li soho-popupmenu-item><a soho-popupmenu-label>Name and project range</a></li>
      <li soho-popupmenu-item [isDisabled]="isInsertCommentDisabled"><a soho-popupmenu-label id="x">Insert comment</a></li>
      <li soho-popupmenu-item [isDisabled]="isInsertNoteDisabled"><a soho-popupmenu-label>Insert note</a></li>
      <li soho-popupmenu-item><a soho-popupmenu-label >Clear notes</a></li>
      <li soho-popupmenu-item [subMenu]="true">
        <a soho-popupmenu-label>Multiselectable</a>
        <ul soho-popupmenu [isMultiselectable]="true">
          <li soho-popupmenu-separator multiSelectableSection="true"></li>
          <li soho-popupmenu-item [isChecked]="options.autoScale"><a soho-popupmenu-label>Auto Scale</a></li>
          <li soho-popupmenu-item [isChecked]="options.showLabel"><a soho-popupmenu-label>Show Label</a></li>
          <li soho-popupmenu-item [isChecked]="options.showAxis"><a soho-popupmenu-label>Show Axis</a></li>
          <li soho-popupmenu-item [isChecked]="options.autoRefresh"><a soho-popupmenu-label>Auto Refresh</a></li>
        </ul>
      </li>
      <li soho-popupmenu-separator singleSelectableSection="true"></li>
      <li soho-popupmenu-heading>Additional Options</li>
      <li soho-popupmenu-item isChecked="true" isSelectable="true"><a soho-popupmenu-label>Conditional formatting</a></li>
      <li soho-popupmenu-item isSelectable="true"><a soho-popupmenu-label>Data validation</a></li>
    </ul>

  </div>

</div>

<div class="row">
  <div class="twelve columns">
    <div *ngIf="showMenu">
      <button id="popupmenu-trigger" soho-menu-button menu="my-menu">Menu</button>
      <ul soho-popupmenu id="my-menu">
        <li soho-popupmenu-item>
          <a soho-popupmenu-label (click)="onMenu(1)">A</a>
        </li>
        <li soho-popupmenu-item>
          <a soho-popupmenu-label (click)="onMenu(2)">B</a>
        </li>
        <li soho-popupmenu-item>
          <a soho-popupmenu-label (click)="onMenu(3)">C</a>
        </li>
      </ul>
    </div>

    <div *ngIf="!showMenu">
      <p>Menu is no longer shown, and should not append '#' on URL navigation</p>
    </div>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">
    <span class="label">Popup Selected</span>
    <button
      class="btn-menu"
      soho-context-menu
      menu="filter-options"
      trigger="click"
      (selected)="onClick($event)"
    >
      <svg class="project-sort-filter-icon" soho-icon icon="filter"></svg>
      <span>Words</span>
      <svg soho-icon icon="dropdown"></svg>
    </button>
    <ul soho-popupmenu [isMultiselectable]="true" id="filter-options" #popmenutrigger>
      <li
        soho-popupmenu-item
        *ngFor="let option of suiteOptions; let i = index"
      >
        <a [id]="'suiteValue' + i" soho-popupmenu-label>
          {{ option }}
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <button soho-button="primary" (click)="onClick()">Selected Items</button>
  </div>
</div>


<div class="row top-padding">
  <div class="twelve columns">
    <span class="label">Popup Menu Multiselect Singleselect</span><br>
    <button soho-menu-button [menu]="'mock-menu'" [id]="'mock-button'" [hideMenuArrow]="false">Menu</button>
    <ul soho-popupmenu id="mock-menu">
      <li soho-popupmenu-separator [multiSelectableSection]="true"></li>
      <li soho-popupmenu-item [isChecked]="true" class="is-multiselectable">
        <a soho-popupmenu-label>Menu Option #1</a>
      </li>

      <li soho-popupmenu-item [isChecked]="false" class="is-multiselectable">
        <a soho-popupmenu-label>Menu Option #2</a>
      </li>

      <li soho-popupmenu-separator [singleSelectableSection]="true"></li>

      <li soho-popupmenu-item [subMenu]="true" [isSelectable]="false">
        <a href="">Menu Option #3</a>
        <ul soho-popupmenu>
          <li soho-popupmenu-heading>Primary</li>
          <li soho-popupmenu-item [isSelectable]="true" [isChecked]="true">
            <a soho-popupmenu-label>Option 1</a>
          </li>
          <li class="hotdog" soho-popupmenu-item [isSelectable]="true" [isChecked]="false">
            <a soho-popupmenu-label>Option 2</a>
          </li>
          <li soho-popupmenu-item [isSelectable]="true">
            <a soho-popupmenu-label>Option 3</a>
          </li>

          <li soho-popupmenu-separator [singleSelectableSection]="true"></li>

          <li soho-popupmenu-heading>Secondary</li>
          <li soho-popupmenu-item [isSelectable]="true" [isChecked]="true">
            <a soho-popupmenu-label>Option 1</a>
          </li>
          <li soho-popupmenu-item [isSelectable]="true">
            <a soho-popupmenu-label>Option 2</a>
          </li>
          <li soho-popupmenu-item [isSelectable]="true">
            <a soho-popupmenu-label>Option 3</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>


<div class="row">
  <div class="twelve columns">
    <span class="label">Datagrid Menu Example</span><br>
    <button soho-menu-button [menu]="'datagrid-menu'" [id]="'datagrid-menu-button'" [hideMenuArrow]="false">Data Grid Menu</button>
    <ul soho-popupmenu id="datagrid-menu">
      <li soho-popupmenu-separator [multiSelectableSection]="true"></li>
      <li soho-popupmenu-item [isChecked]="true" class="is-multiselectable">
        <a soho-popupmenu-label>Menu Option #1</a>
      </li>
      <li soho-popupmenu-item [isChecked]="false" class="is-multiselectable">
        <a soho-popupmenu-label>Menu Option #2</a>
      </li>
      <li soho-popupmenu-separator [singleSelectableSection]="false"></li>
      <li soho-popupmenu-item [subMenu]="true" [isSelectable]="false">
        <a href="">Menu Option #3</a>
      </li>
      <li soho-popupmenu-separator [singleSelectableSection]="true"></li>
      <li soho-popupmenu-item [isIndented]="true">
          <a soho-popupmenu-label href="#" data-option="personalize-columns">Personalize Columns</a>
      </li>
      <li soho-popupmenu-separator></li>
      <li soho-popupmenu-heading>RowHeight</li>
      <li soho-popupmenu-item [isSelectable]="true">
          <a soho-popupmenu-label href="#" data-option="row-extra-small">Extra Small</a>
      </li>
      <li soho-popupmenu-item [isSelectable]="true">
          <a soho-popupmenu-label href="#" data-option="row-small">Small</a>
      </li>
      <li soho-popupmenu-item [isSelectable]="true">
          <a soho-popupmenu-label href="#" data-option="row-medium">Medium</a>
      </li>
      <li soho-popupmenu-item [isSelectable]="true">
          <a soho-popupmenu-label href="#" data-option="row-large">Large</a>
      </li>
      <li soho-popupmenu-separator [singleSelectableSection]="true"></li>
      <li soho-popupmenu-heading>Filter</li>
      <li soho-popupmenu-item [isIndented]="true" [isSelectable]="true" [isChecked]="true">
          <a soho-popupmenu-label href="#" data-option="show-filter-row">Show Filter Row</a>
      </li>
      <li soho-popupmenu-separator [singleSelectableSection]="false"></li>
      <li soho-popupmenu-item>
          <a soho-popupmenu-label href="#" data-option="run-filter">Run Filter</a>
      </li>
      <li soho-popupmenu-separator [singleSelectableSection]="true"></li>
      <li soho-popupmenu-item [isIndented]="true">
          <a soho-popupmenu-label href="#" data-option="clear-filter">Clear Filter</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <span class="label">Menu For Loop</span>
    <button soho-menu-button menu="menu">Popupmenu</button>
    <ul soho-popupmenu id="menu" [isSelectable]="true">
      <li
        *ngFor="let item of menuItems; let i = index"
        soho-popupmenu-item
        [isChecked]="item.selected"
        (click)="onChange(i)"
      >
        <a soho-popupmenu-label>{{ item.text }}</a>
      </li>
    </ul>
  </div>
</div>
