<div style="padding: 20px 20px 0 20px;">
  <div class="row">
    <div class="inline">
      <button soho-button (click)="onInsertCommentButtonClicked()">{{insertCommentText}} Insert Comment Item</button>
      <button soho-button (click)="onInsertNoteClicked()">{{insertNoteText}} Insert Note Item</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="twelve columns">
    <div class="field">
      <label for="input-menu">Label</label>
      <input id="input-menu" type="text" value="Right Click Me" soho-context-menu menu="action-popupmenu" trigger="rightClick"
        (selected)="onSelected($event)"
        (beforeopen)="onBeforeOpen($event)"
        (close)="onClose($event)"
        (open)="onOpen($event)"
      >
    </div>

    <div class="field">
      <label for="input-menu2">Label2</label>
      <input id="input-menu2" type="text"  value="Right Click Me" soho-context-menu menu="action-popupmenu" trigger="rightClick"
        (selected)="onSelected($event)"
        (beforeopen)="onBeforeOpen($event)"
        (close)="onClose($event)"
        (open)="onOpen($event)"
      >
    </div>

    <ul soho-popupmenu id="action-popupmenu">
      <li soho-popupmenu-item><a soho-popupmenu-label>Cut <span soho-popupmenu-shortcut-text>⌘+X</span></a></li>
      <li soho-popupmenu-item><a soho-popupmenu-label>Copy <span soho-popupmenu-shortcut-text>⌘+C</span></a></li>
      <li soho-popupmenu-item><a soho-popupmenu-label>Paste <span soho-popupmenu-shortcut-text>⌘+V</span></a></li>
      <li soho-popupmenu-item [subMenu]="true">
        <a soho-popupmenu-label>Paste Special</a>
        <ul>
          <li soho-popupmenu-item><a soho-popupmenu-label>Sub Menu 1</a></li>
          <li soho-popupmenu-item><a soho-popupmenu-label>Sub Menu 2</a></li>
        </ul>
      </li>
      <li soho-popupmenu-separator></li>
      <li soho-popupmenu-item><a soho-popupmenu-label>Name and project range</a></li>
      <li soho-popupmenu-item [isDisabled]="isInsertCommentDisabled"><a soho-popupmenu-label id="x">Insert comment</a></li>
      <li soho-popupmenu-item [isDisabled]="isInsertNoteDisabled"><a soho-popupmenu-label>Insert note</a></li>
      <li soho-popupmenu-item><a soho-popupmenu-label >Clear notes</a></li>
      <li soho-popupmenu-item [subMenu]="true">
        <a soho-popupmenu-label>Multiselectable</a>
        <ul soho-popupmenu [isMultiselectable]="true">
          <li soho-popupmenu-item [isChecked]="options.autoScale"><a soho-popupmenu-label (click)="toggleOption('autoScale')">Auto Scale</a></li>
          <li soho-popupmenu-item [isChecked]="options.showLabel"><a soho-popupmenu-label (click)="toggleOption('showLabel')">Show Label</a></li>
          <li soho-popupmenu-item [isChecked]="options.showAxis"><a soho-popupmenu-label (click)="toggleOption('showAxis')">Show Axis</a></li>
          <li soho-popupmenu-item [isChecked]="options.autoRefresh"><a soho-popupmenu-label (click)="toggleOption('autoRefresh')">Auto Refresh</a></li>
        </ul>
      </li>
      <li soho-popupmenu-separator singleSelectableSection="true"></li>
      <li soho-popupmenu-heading>Additional Options</li>
      <li soho-popupmenu-item isChecked="true" isSelectable="true"><a soho-popupmenu-label>Conditional formatting</a></li>
      <li soho-popupmenu-item isSelectable="true"><a soho-popupmenu-label>Data validation</a></li>
    </ul>

  </div>

</div>

<div class="row">
  <div class="twelve columns">
    <div *ngIf="showMenu">
      <button id="popupmenu-trigger" soho-menu-button menu="my-menu">Menu</button>
      <ul soho-popupmenu id="my-menu">
        <li soho-popupmenu-item>
          <a soho-popupmenu-label (click)="onMenu(1)">A</a>
        </li>
        <li soho-popupmenu-item>
          <a soho-popupmenu-label (click)="onMenu(2)">B</a>
        </li>
        <li soho-popupmenu-item>
          <a soho-popupmenu-label (click)="onMenu(3)">C</a>
        </li>
      </ul>
    </div>

    <div *ngIf="!showMenu">
      <p>Menu is no longer shown, and should not append '#' on URL navigation</p>
    </div>
  </div>
</div>

<div class="row top-padding">
  <div class="twelve columns">
    <span class="label">Popup Menu Get Selected</span>
    <button
      class="btn-menu"
      soho-context-menu
      menu="filter-options"
      trigger="click"
      (selected)="onClick($event)"
    >
      <svg class="project-sort-filter-icon" soho-icon icon="filter"></svg>
      <span>Words</span>
      <svg soho-icon icon="dropdown"></svg>
    </button>
    <ul soho-popupmenu [isMultiselectable]="true" id="filter-options">
      <li
        soho-popupmenu-item
        *ngFor="let option of suiteOptions; let i = index"
      >
        <a [id]="'suiteValue' + i" soho-popupmenu-label>
          {{ option }}
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <button soho-button="primary" (click)="onClick()">Selected Items</button>
  </div>
</div>
