<a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>

<soho-icons *ngIf="!useNewIcons"></soho-icons>
<soho-icons-new *ngIf="useNewIcons"></soho-icons-new>

<soho-icons-empty [icons]="useNewIcons ? 'colorful' : 'classic'"></soho-icons-empty>

<app-masthead-demo></app-masthead-demo>

<demoapp-nav-container>
  <app-header-dynamic-demo
    (appMenuTriggerClick)="toggleMenuVisibility()"></app-header-dynamic-demo>
  <div id="maincontent" class="page-container scrollable" role="main">
    <router-outlet></router-outlet>
  </div>
</demoapp-nav-container>

<div soho-personalize (changetheme)="onChangeTheme($event)"></div>
