<a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>
<soho-icons></soho-icons>
<soho-icons-ext></soho-icons-ext>
<soho-icons-empty></soho-icons-empty>
<app-masthead-demo></app-masthead-demo>

<nav *ngIf="initialised" soho-application-menu class="is-personalizable" [filterable]="true" [openOnLarge]="true" [dismissOnClickMobile]="true">
  <div soho-searchfield-wrapper>
    <label class="audible" for="application-menu-searchfield">Search</label>
    <input soho-searchfield id="application-menu-searchfield" [clearable]="true" />
  </div>
  <application-menu-demo></application-menu-demo>
</nav>
<div *ngIf="initialised" class="page-container no-scroll">
  <app-header-dynamic-demo></app-header-dynamic-demo>
  <div id="maincontent" class="page-container scrollable" role="main">
      <div class="row render-row">
        <p>Render loop count is: {{renderLoopCount}}</p>
        <button class="btn" (click)="onStartRenderLoop()">Start RenderLoop</button>
        <button class="btn" (click)="onStopRenderLoop()">Stop RenderLoop</button>
      </div>
      <router-outlet></router-outlet>
  </div>
</div>
<div soho-personalize [options]="personalizeOptions" (changetheme)="onChangeTheme($event)" (changecolors)="onChangeColors($event)">
</div>
