soho-masthead {
  display: block;
}

demoapp-nav-container {
  display: block;
}

module-nav-demo {
  display: contents;
}

app-masthead-demo + demoapp-nav-container {
  height: calc(100vh - 38px); /* 38px = masthead height */
}

.code-tag {
  font-size: 12px;
  font-size: 1.2rem;
  background-color: #bdbdbd;
  border-radius: 2px;
  color: #383838;
  display: inline-block;
  height: 22px;
  line-height: 23px;
  margin: 20px 0 40px;
  padding: 0 10px;
  text-transform: uppercase;
}
.example-section {
  max-width: 980px;
  padding: 0 30px;
  margin: 0 auto;
}

.render-row {
  padding: 0 20px;
}

.render-row > p {
  padding-left: 15px;
}
