<div class="example-section" xmlns="http://www.w3.org/1999/html">

  <form>
    <div class="row">
      <h1>Personalize API Demo</h1>
      <span class="code-tag">Live Example</span>
    </div>

    <div class="row">
      <div class="field">
        <label for="theme" class="label">Theme</label>
        <select soho-dropdown soho-busyindicator noSearch id="theme" name="theme" (change)="onThemeChange($event)" [(ngModel)]="model.themeId">
          <option *ngFor="let theme of themes" [value]="theme.id">{{theme.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="field">
        <label for="color" class="label">Theme Colors</label>
        <select soho-dropdown soho-busyindicator noSearch id="color" name="color" (change)="onColorChange($event)" [(ngModel)]="model.colorId">
          <option
            *ngFor="let color of colors | keyvalue"
            [attr.data-icon]="JSON.stringify({ icon: 'swatch', class: colors[color.key].backgroundColorClass + ' swatch'})"
            [attr.data-hex]="colors[color.key].value"
            [value]="colors[color.key].id"
          >
            {{ colors[color.key].name }}
          </option>
        </select>
      </div>
    </div>

  </form>
  <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
  <div *ngIf="showModel">
    <hr>
    <h3>{{ model | json }}</h3>
  </div>
</div>

<div soho-personalize (changetheme)="onChangeTheme($event)" (changecolors)="onChangeColor($event)"></div>
