<form>
  <div class="row top-padding">
    <div class="twelve columns">
      <div class="row">
        <div class="field">
          <soho-swaplist id="demo-swaplist"
           [availableCardTitle]="'Choose from these'"
           [availableItems]="available | async"
           [selectedItems]="selected | async"
           (updated)="onUpdated($event)">
          </soho-swaplist>

          <button soho-button (click)="updateData($event)">Update Data</button>

          <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
          <div *ngIf="showModel">
            <br />
            <h2>Selected Items:</h2>
            <h3 *ngFor="let item of selectedItems">{{ item | json }}</h3>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
