<form>
  <div class="row top-padding">
    <div class="twelve columns">
      <div class="row">
        <div class="field">
          <soho-swaplist showFullAccessCard="true"
            id="citys-swaplist"
            [availableItems]="availableDemoItems"
            [selectedItems]="selectedDemoItems"
            [additionalItems]= "additionalDemoItems"
            (updated)="onUpdated($event)">
          </soho-swaplist>

          <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
          <div *ngIf="showModel">
            <br/>
            <h2>Selected Items:</h2>
            <hr class="fieldset-hr">
            <h3 *ngFor="let item of selectedItems">{{ item | json }}</h3>
            <hr class="fieldset-hr">
            <br/>
            <h2>Additional Items:</h2>
            <hr class="fieldset-hr">
            <h3 *ngFor="let item of additionalItems">{{ item | json }}</h3>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
