<div soho-stepprocess>

  <div soho-step-list-title>
    These are the steps
  </div>

  <ul soho-step-list>

    <ng-template ngFor let-step [ngForOf]="steps">

      <li soho-step-list-item *ngIf="step.content">
        <a soho-step-list-item-anchor stepId="{{step.id}}">
          <svg soho-icon icon="{{step.icon}}"></svg>
          <span soho-step-list-item-title>{{step.title}}</span>
        </a>
      </li>

      <li soho-step-list-item *ngIf="!step.content">
        <a soho-step-list-item-anchor stepId="{{step.id}}" *ngIf="step.substeps">
          <svg soho-icon icon="{{step.icon}}"></svg>
          <span soho-step-list-item-title>{{step.title}}</span>
          <svg soho-icon icon="caret-down" class="icon-tree"></svg>
        </a>
        <ul soho-substep-list *ngIf="step.substeps">
          <li soho-step-list-item *ngFor="let substep of step.substeps">
            <a soho-step-list-item-anchor stepId="{{substep.id}}">
              <svg soho-icon icon="{{substep.icon}}"></svg>
              <span soho-step-list-item-title>{{substep.title}}</span>
            </a>
          </li>
        </ul>
      </li>

    </ng-template>

  </ul>

  <div soho-step-content-title>
    Step Process
    <small>Page X of XX</small>
  </div>

  <div soho-step-content>
    <div *ngFor="let step of steps">
      <div soho-step-content-panel *ngIf="step.content" stepId="{{step.id}}">
        <p *ngIf="step.content">{{step.content}}</p>
        <p *ngIf="!step.content">Step Content for title {{step.title}}</p>
      </div>
      <div *ngIf="step.substeps">
        <div soho-step-content-panel *ngFor="let substep of step.substeps" stepId="{{substep.id}}">
          <p>{{substep.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
