<div class="row top-padding">
  <div class="two-thirds column">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Tasks - Simple</h2>
      </div>
      <div class="card-content">
        <soho-listview #simpleSelectListView>
          <li soho-listview-item *ngFor="let data of demoTasks" [disabled]="data.disabled" [selected]="data.selected">
            Task #{{data.task}}
          </li>
        </soho-listview>
      </div>
    </div>
  </div>
  <div class="two-thirds column">
    <button soho-button (click)="addItems()">Add Item</button>
    <button soho-button (click)="selectItems(singleSelectListView)">Select Items</button>
    <button soho-button (click)="unselectItems(singleSelectListView)">Unselect Items</button>
    <button soho-button (click)="removeItems(singleSelectListView)">Remove Items</button>
    <br/>
    <br/>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Tasks - Single Select</h2>
      </div>
      <div class="card-content">
        <soho-listview
          #singleSelectListView
          (rendered)="onRendered($event)"
          (selected)="onSelected($event)"
          (sorted)="onSorted($event)">
          <li soho-listview-item *ngFor="let data of demoTasks" [disabled]="data.disabled" [selected]="data.selected">
            <p soho-listview-header>Task #{{data.task}}</p>
            <p soho-listview-subheader>{{data.desc}}</p>
            <p soho-listview-micro>DUE: {{data.date}}</p>
          </li>
        </soho-listview>
      </div>
    </div>
  </div>
  <div class="two-thirds column">
    <button soho-button (click)="selectItems(multipleSelectListView)">Select Items</button>
    <button soho-button (click)="unselectItems(multipleSelectListView)">Unselect Items</button>
    <button soho-button (click)="removeItems(multipleSelectListView)">Remove Items</button>
    <br/>
    <br/>

    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Tasks - Multi Select</h2>
      </div>
      <div class="card-content" style="overflow: hidden;">
        <soho-listview
          #multipleSelectListView
          selectable="multiple"
          (rendered)="onRendered($event)"
          (selected)="onSelected($event)"
          (sorted)="onSorted($event)">
          <soho-toolbar class="contextual-toolbar is-hidden">
            <soho-toolbar-button-set>
              <button soho-button="tertiary" title="Assign Selected Items">Assign</button>
              <button soho-button="tertiary" title="Remove Selected Items">Remove</button>
            </soho-toolbar-button-set>
          </soho-toolbar>
          <li soho-listview-item *ngFor="let data of contentTypes" [disabled]="data.disabled" [selected]="data.selected">
            <p soho-listview-header>{{data.name}}</p>
          </li>
        </soho-listview>
      </div>
    </div>
  </div>
  <div class="two-thirds column">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Tasks - Searchable</h2>
      </div>
      <div class="card-content" style="overflow: hidden;">
        <soho-listview
          [class]="'something-extra'"
          [dataset]="demoTasks"
          [searchable]="true"
          selectable="multiple"
          (rendered)="onRendered($event)"
          (selected)="onSelected($event)"
          (sorted)="onSorted($event)"
        >
          <input soho-searchfield placeholder="Search" [clearable]="true">
          <soho-toolbar class="contextual-toolbar is-hidden">
            <soho-toolbar-button-set>
              <button soho-button="tertiary" title="Assign Selected Items">Assign</button>
              <button soho-button="tertiary" title="Remove Selected Items">Remove</button>
            </soho-toolbar-button-set>
          </soho-toolbar>
          <li soho-listview-item *ngFor="let data of demoTasks" [disabled]="data.disabled">
            <p soho-listview-header>Task #{{data.task}}</p>
            <p soho-listview-subheader>{{data.desc}}</p>
            <p soho-listview-micro>DUE: {{data.date}}</p>
          </li>
        </soho-listview>
      </div>
    </div>
  </div>
  <div class="two-thirds column">
    <button soho-button (click)="load()">Load</button>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Tasks - Searchable</h2>
      </div>
      <div class="card-content">
        <soho-listview
          [dataset]="loadTasks"
          [searchable]="true"
          (selected)="onSelected($event)">
          <input soho-searchfield placeholder="Search" [clearable]="true">
          <li soho-listview-item *ngFor="let data of loadTasks">
            <p soho-listview-header>Task #{{data.task}}</p>
            <p soho-listview-subheader>{{data.desc}}</p>
            <p soho-listview-micro>DUE: {{data.date}}</p>
          </li>
        </soho-listview>
      </div>
    </div>
  </div>

  <div class="two-thirds column">
    <button soho-button (click)="activatedItem()">Activated Item</button>
    <button soho-button (click)="activateItem()">Activate Item</button>
    <button soho-button (click)="deactivateItem()">Deactivate Item</button>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Tasks - Mixed Selection</h2>
      </div>
      <div class="card-content" style="overflow: hidden;">
        <soho-listview
          #mixedSelectionListView
          [disableItemDeactivation]="true"
          [dataset]="demoTasks"
          [searchable]="true"
          [selectable]="'mixed'"
          (rendered)="onRendered($event)"
          (selected)="onSelected($event)"
          (sorted)="onSorted($event)"
          (itemactivated)="onItemActivated($event)"
          (itemdeactivated)="onItemDeactivated($event)"
        >
          <input soho-searchfield placeholder="Search" [clearable]="true">
          <soho-toolbar class="contextual-toolbar is-hidden">
            <soho-toolbar-button-set>
              <button soho-button="tertiary" title="Assign Selected Items">Assign</button>
              <button soho-button="tertiary" title="Remove Selected Items">Remove</button>
            </soho-toolbar-button-set>
          </soho-toolbar>
          <li soho-listview-item *ngFor="let data of demoTasks" [disabled]="data.disabled">
            <p soho-listview-header>Task #{{data.task}}</p>
            <p soho-listview-subheader>{{data.desc}}</p>
            <p soho-listview-micro>DUE: {{data.date}}</p>
          </li>
        </soho-listview>
      </div>
    </div>
  </div>

</div>
