<div class="no-scroll soho-step-process">
 <div class="page-container no-scroll two-column fixed">

   <!-- STEP CONTROL SIDE BAR -->
   <div class="sidebar" role="complementary">
     <div class="toolbar toolbar-custom collapsible-bar phone-visible">
       <ng-content select="div[soho-steps-list-title]"></ng-content>
     </div>
     <ng-content select="div[soho-steps-list]"></ng-content>
   </div>

   <!-- STEP CONTROL MAIN CONTENT -->
   <div class="main no-scroll" role="main">
     <div class="toolbar toolbar-custom collapsible-bar">
       <div class="title">
         <button soho-button="tertiary" icon="bullet-list" class="btn-toggle-steps js-toggle-steps"></button>
         <div class="dual-title">
           <ng-content select="div[soho-step-content-title]"></ng-content>
         </div>
       </div>
       <div class="buttonset phone-hidden">
         <button soho-button="tertiary" class="btn-tertiary js-step-link-prev">Previous</button>
         <button soho-button="tertiary" class="btn-tertiary js-step-link-next">Next</button>
       </div>
     </div>
     <ng-content select="div[soho-step-content]"></ng-content>
     <div class="phone-button-bar phone-visible">
       <button soho-button="primary" class="btn mobile-">Save &amp; Close</button>
       <button soho-button="primary" class="btn-primary js-step-link-next">Next</button>
     </div>
   </div>
 </div>
</div>
