<div class="row">
    <div class="twelve columns">

        <h2 class="fieldset-title">SoHo Tree - Input Driven</h2>

        <div class="field">
            <button soho-button (click)="expandAll($event)">Expand All</button>
            <button soho-button (click)="collapseAll($event)">Collapse All</button>
            <button soho-button (click)="addNode($event)">Add Node</button>
            <button soho-button (click)="reset($event)">Reset Data</button>
        </div>
    </div>
</div>
<br>
<div class="example-section" role="main">
    <div class="column">
        <div class="field">
        </div>
        <ul [soho-tree]="'content-only'" [dataset]="dataset | async">
        </ul>
    </div>
</div>