<div class="example-section">
  <form>
    <div class="row top-padding">
      <div class="row">
        <div class="field">
          <label for="states1" class="label">Simple Dropdown</label>
          <select soho-dropdown soho-busyindicator noSearch name="states1"
            (update)="onUpdated($event)"
            (change)="onChange($event)">
            <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
          </select>
        </div>
        <div class="field">
          <label for="states2" class="label">Dropdown using NgModel</label>
          <select soho-dropdown name="states2" (update)="onUpdated($event)" (change)="onChange($event)" [(ngModel)]="model.selectedOption">
            <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
          </select>
        </div>
        <div class="field">
          <label for="states2" class="label">Dropdown xss test</label>
          <select soho-dropdown name="states2" (update)="onUpdated($event)" (change)="onChange($event)" [(ngModel)]="model.selectedOptionXss">
            <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
          </select>
        </div>

        <div class="field">
          <label for="states1" class="label">Readonly</label>
          <select soho-dropdown [readonly]="true">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>

        <label for="states-readonly" class="label">States - ReadOnly</label>
        <select soho-dropdown name="states-readonly" readOnly>
          <option value="AL">Alabama</option>
          <option value="CA">California</option>
          <option value="DE">Delaware</option>
          <option value="NY">New York</option>
          <option value="WY">Wyoming</option>
        </select>

        <label for="states-readonly" class="label">Model - ReadOnly</label>
        <select soho-dropdown name="states-readonly" readOnly>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>

        <label for="states-readonly1" class="label">Totally Readonly</label>
        <select soho-dropdown name="states-readonly" readonly>
          <option value="AL">Alabama</option>
          <option value="CA">California</option>
          <option value="DE">Delaware</option>
          <option value="NY">New York</option>
          <option value="WY">Wyoming</option>
        </select>

        <label for="states-readonly2" class="label">Totally Not Readonly</label>
        <select soho-dropdown name="states-readonly">
          <option value="AL">Alabama</option>
          <option value="CA">California</option>
          <option value="DE">Delaware</option>
          <option value="NY">New York</option>
          <option value="WY">Wyoming</option>
        </select>

        <label for="states-readonly3" class="label">Not Readonly by Value</label>
        <select soho-dropdown name="states-readonly" [readonly]="false">
          <option value="AL">Alabama</option>
          <option value="CA">California</option>
          <option value="DE">Delaware</option>
          <option value="NY">New York</option>
          <option value="WY">Wyoming</option>
        </select>

        <label for="states-readonly3" class="label">Readonly by Value</label>
        <select soho-dropdown name="states-readonly" [attr.readonly]="true ? 'true' : ''">
          <option value="AL">Alabama</option>
          <option value="CA">California</option>
          <option value="DE">Delaware</option>
          <option value="NY">New York</option>
          <option value="WY">Wyoming</option>
        </select>
      </div>
    </div>
  </form>
  <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
</div>
