<div class="example-section">
  <form>
    <div class="row">
      <h1>Multi-Select Dropdown</h1>
      <span class="code-tag">Live Example</span>
      <div class="row">
        <div class="twelve columns">
          <div class="field">
            <label for="states-multi-closes" class="label">States - Closes On Select</label>
            <select soho-dropdown name="states-multi-closes" multiple maxSelected="3" [(ngModel)]="model.closes">
              <option value="AL">Alabama</option>
              <option value="CA">California</option>
              <option value="DE">Delaware</option>
              <option value="NY">New York</option>
              <option value="WY">Wyoming</option>
            </select>
            <button soho-button [disabled]="dropDownReadOnly" (click)="setReadonly()">Read Only</button>
            <button soho-button [disabled]="dropDownDisabled" (click)="setDisable()">Disable</button>
            <button soho-button [disabled]="!dropDownDisabled && !dropDownReadOnly" (click)="setEnable()">Enable</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <div class="field">
            <label for="states-multi" class="label">States - Stays Open</label>
            <select soho-dropdown name="states-multi" multiple [closeOnSelect]="false" maxSelected="3" [(ngModel)]="model.multi">
              <option value="AL">Alabama</option>
              <option value="CA">California</option>
              <option value="DE">Delaware</option>
              <option value="NY">New York</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <div class="field">
            <label for="states-multi" class="label">States - Stays Open and Select All</label>
            <select soho-dropdown name="states-multi-select-all" multiple [closeOnSelect]="false" [showSelectAll]="true" [(ngModel)]="model.multi">
              <option value="AL">Alabama</option>
              <option value="CA">California</option>
              <option value="DE">Delaware</option>
              <option value="NY">New York</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <div class="field">
            <label for="states-multi-source-alpha" class="label">Using alpha source & tooltip</label>
            <select soho-dropdown name="states-multi-source-alpha" multiple [source]="sourceAlpha"
              soho-tooltip content="{{stateAsText}}" [(ngModel)]="model.multiSourceAlpha.value">
              <option *ngFor="let option of model.multiSourceAlpha.options" selected="{{option.selected}}" [value]="option.value">{{option.label}}</option>
            </select>
          </div>
        </div>
        <div class="four columns">
          <div class="field">
            <label for="states-multi-source-alpha-ro" class="label">Readonly using alpha source & tooltip</label>
            <select soho-dropdown name="states-multi-source-alpha-ro" readOnly multiple [source]="sourceAlpha"
              soho-tooltip content="{{stateAsText}}" [(ngModel)]="model.multiSourceAlpha.value">
              <option *ngFor="let option of model.multiSourceAlpha.options" selected="{{option.selected}}" [value]="option.value">{{option.label}}</option>
            </select>
          </div>
        </div>
        <div class="four columns">
          <div class="field">
            <label for="states-multi-source-numeric" class="label">Using numeric source</label>
            <select soho-dropdown name="states-multi-source-numeric" multiple [source]="sourceNumeric" [(ngModel)]="model.multiSourceNumeric.value">
              <option *ngFor="let option of model.multiSourceNumeric.options" selected="{{option.selected}}" [value]="option.value">{{option.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <div class="field">
            <button soho-button (click)="onAddOption()">Add Option</button>
            <button soho-button (click)="onRemoveOption()">Remove Option</button>
            <hr>
            <label for="states-modifiable-two" class="label">Modifiable States</label>
            <select soho-dropdown name="states-modifiable-two" multiple="true" [closeOnSelect]="false" [(ngModel)]="model.modifiable">
              <option *ngFor="let option of options" [ngValue]="option">{{option.label}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
  <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
  <div *ngIf="showModel">
    <hr>
    <h3>{{ model | json }}</h3>
  </div>
</div>
