<div class="example-section">
  <form>
    <div class="row">
      <h1>Multi-Select Dropdown</h1>
      <span class="code-tag">Live Example</span>
      <div class="row">
        <div class="field">
          <label for="states-multi-closes" class="label">States - Closes On Select</label>
          <select soho-dropdown name="states-multi-closes" multiple maxSelected="3" [(ngModel)]="model.closes">
            <option value="AL">Alabama</option>
            <option value="CA">California</option>
            <option value="DE">Delaware</option>
            <option value="NY">New York</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div class="field">
          <label for="states-multi" class="label">States - Stays Open</label>
          <select soho-dropdown name="states-multi" multiple [closeOnSelect]="false" maxSelected="3" [(ngModel)]="model.multi">
            <option value="AL">Alabama</option>
            <option value="CA">California</option>
            <option value="DE">Delaware</option>
            <option value="NY">New York</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div class="field">
          <label for="states-multi-source" class="label">States - From source</label>
          <select soho-dropdown name="states-multi-source" multiple moveSelectedToTop="true" [source]="source" [(ngModel)]="model.multisource">
            <option *ngFor="let option of multisourceoptions" selected={{option.selected}} [value]="option.value">{{option.label}}</option>
          </select>
        </div>
        <div class="field">
          <button soho-button (click)="onAddOption()">Add Option</button>
          <button soho-button (click)="onRemoveOption()">Remove Option</button>
          <hr>
          <label for="states-modifiable-two" class="label">Modifiable States</label>
          <select soho-dropdown name="states-modifiable-two" multiple="true" [closeOnSelect]="false" [(ngModel)]="model.modifiable">
            <option *ngFor="let option of options" [ngValue]="option">{{option.label}}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
  <div *ngIf="showModel">
    <hr>
    <h3>{{ model | json }}</h3>
  </div>
</div>
