<div class="example-section">
    <form [formGroup]="form">
        <div class="row">
            <h1>Single-Select Dropdown - Landmark Examples</h1>
            <span class="code-tag">Live Example</span>
            <div class="row">
                <div class="field">
                    <label for="lm-id-0" class="label">Static State - Alpha</label>
                    <select soho-dropdown id="lm-id-0" [formControlName]="fieldSpec.AlphaField.bindId" [(ngModel)]="model.AlphaField.value">
                        <option *ngFor="let option of fieldSpec.AlphaField.stateValues" [ngValue]="option">{{option.label}}</option>
                    </select>
                </div>
                <div class="field">
                    <label for="lm-id-1" class="label">Static State - Numeric</label>
                    <select soho-dropdown id="lm-id-1" [formControlName]="fieldSpec.NumericField.bindId" [(ngModel)]="model.NumericField.value">
                        <option *ngFor="let option of fieldSpec.NumericField.stateValues" [ngValue]="option">{{option.label}}</option>
                    </select>
                </div>
                <div class="field">
                    <label for="lm-id-2" class="label">Static State - Percent</label>
                    <select soho-dropdown id="lm-id-2" [formControlName]="fieldSpec.PercentField.bindId" [(ngModel)]="model.PercentField.value" >
                        <option *ngFor="let option of fieldSpec.PercentField.stateValues" [ngValue]="option">{{option.label}}</option>
                    </select>
                </div>
                <div class="field">
                    <label for="lm-id-3" class="label">User Defined State - From Source</label>
                    <select soho-dropdown id="lm-id-3" [formControlName]="fieldSpec.SourceField.bindId" [source]="source" [(ngModel)]="model.SourceField.value">
                        <option *ngFor="let option of fieldSpec.SourceField.stateValues" [ngValue]="option">{{option.label}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
    <div *ngIf="showModel">
        <hr>
        <h3>{{ model | json }}</h3>
    </div>
</div>
