<div class="example-section">
    <form [formGroup]="form">
        <div class="row">
            <h1>Dropdown - binding without "source" property</h1>
            <p style="font-size: 1.3em">This example binds options to dropdown asynchronously on component creation.</p>
            <hr>
            <span class="code-tag">Live Example</span>
            <div class="row">
                <div class="field">
                    <label class="label">Load options on component <b>LOAD</b></label>
                    <select
                        soho-dropdown
                        soho-busyindicator
                        blockUI="true"
                        displayDelay="0"
                        [formControlName]="'testControl'"
                        [(ngModel)]="model.value">
                        <option *ngFor="let child of childrenPreload | async" [value]="child.value">{{child.label}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="field">
                    <label class="label">Load options on component <b>CLICK</b></label>
                    <span (mouseleave)="onMouseLeave($event)">
                        <select
                            soho-dropdown
                            soho-busyindicator
                            blockUI="true"
                            displayDelay="0"
                            [formControlName]="'testControl2'"
                            [(ngModel)]="model2.value">
                            <option *ngFor="let child of childrenOnClick | async" [value]="child.value">{{child.label}}</option>
                        </select>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
    <div *ngIf="showModel">
        <hr>
        <h3>{{ model | json }}</h3>
    </div>
</div>
