<div class="example-section">
    <form [formGroup]="form">
        <div class="row">
            <h1>Dropdown - Async binding</h1>
            <p style="font-size: 1.3em">This example binds options to dropdown asynchronously on component creation.</p>
            <hr>
            <span class="code-tag">Live Example</span>
            <div class="row">
                <div class="field">
                    <label class="label">Load options on component <b>LOAD</b> - without "source" property on component</label>
                    <select
                        soho-dropdown
                        soho-busyindicator
                        blockUI="true"
                        displayDelay="0"
                        [formControlName]="'testControl'">
                        <option *ngFor="let child of childrenPreload | async" [value]="child.value">{{child.label}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="field">
                    <label class="label">Load options on component <b>CLICK</b> with source property on component</label>
                    <select
                        soho-dropdown
                        soho-busyindicator
                        blockUI="true"
                        displayDelay="0"
                        [formControlName]="'testControl2'"
                        [source]="onSource">
                        <option *ngFor="let child of childrenOnClick" [value]="child.value">{{child.label}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
    <div *ngIf="showModel">
        <hr>
        <h3>{{ form.value | json }}</h3>
    </div>
</div>
