<div class="example-section">
  <form>
    <div class="row">
      <h1>Dropdown using Subject</h1>
      <span class="code-tag">Live Example</span>
      <div class="row">
        <div class="field">
          <label for="states" class="label">States</label>
          <select soho-dropdown noSearch name="states" [(ngModel)]="model.selectedOption">
            <option *ngFor="let option of (options | async)" [value]="option.value">{{option.label}}</option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <button soho-button (click)="toggleModel()">{{showModel ? 'Hide' : 'Show'}} Model</button>
  <div *ngIf="showModel">
    <hr>
    <h3>{{ model | json }}</h3>
  </div>
</div>
