<div soho-toolbar [maxVisibleButtons]="4">

  <soho-toolbar-title>
    <nav class="breadcrumb">
      <ol aria-label="breadcrumb">
        <li *ngFor="let b of breadcrumbs" [ngClass]="{'current': b.current}">
          <a *ngIf="b.selectable" (click)="selectBreadcrumb(b)" href="#" class="hyperlink hide-focus">{{b.friendlyName}}</a>
          <span *ngIf="!b.selectable">{{b.friendlyName}}</span>
        </li>
      </ol>
    </nav>
  </soho-toolbar-title>

  <soho-toolbar-button-set>

    <input id="common-toolbar-searchfield" name="common-toolbar-searchfield" class="searchfield"/>
    <label class="audible" for="common-toolbar-searchfield">Keyword Search</label>

    <!--
      <button soho-menu-button menu="action-popupmenu" type="button" id="test" class="btn-menu">
      <span>View</span>
      <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-dropdown"></use>
      </svg>
    </button>
    <ul class="popupmenu has-icons">
            <li *ngFor="let viewType of viewTypes" [class.is-checked]="viewType.selected" class="is-selectable">
              <a href="#" (click)="selectViewType(viewType.viewType)">{{viewType.name}}</a>
            </li>
    </ul>
    -->
    <button id="refresh-item" soho-button="icon" icon="refresh">Refresh</button>

<!--    <button id="add-item" soho-button="icon" icon="add">Add</button>-->
<!--    <button id="copy-item" soho-button="icon" icon="copy">Copy</button>-->
<!--    <button id="delete-item" soho-button="icon" icon="delete">Delete</button>-->
<!--    <button id="move-item" soho-button>Move</button>-->
<!--    <button id="open-item" soho-button>Open</button>-->
<!--    <button id="close-item" soho-button="tertiary"><span>Close</span></button>-->

    <div class="more">
      <button class="btn btn-actions" soho-button="icon" icon="more">
        <span class="audible">More Actions</span>
      </button>
      <ul class="popupmenu">
        <li><a href="#">Refresh</a></li>
        <li class="separator single-selectable-section"></li>
        <li class="heading">Row Height</li>
        <li class="is-selectable"><a data-option="row-short" href="#">Short</a></li>
        <li class="is-selectable"><a data-option="row-medium" href="#">Medium</a></li>
        <li class="is-selectable is-checked"><a data-option="row-normal" href="#">Normal</a></li>
      </ul>
    </div>
  </soho-toolbar-button-set>
</div>
