<div class="row">
  <div class="twelve columns">
    <h2 class="fieldset-title">Soho Data Grid - Dynamic</h2>
    <div class="field">
      <button soho-button (click)="addRow()">Add Row</button>
      <button soho-button (click)="busy()">Busy</button>
      <button soho-button (click)="toggleFilterRow()">Toggle Filter Row</button>
      <button soho-button (click)="resetFilter()">Reset Filter</button>
    </div>
  </div>
</div>
<br>
<div class="row top-padding">
  <div class="twelve columns demo" role="main">
    <section class="scrollable contained-scrolling-right-bottom" style="height: 100%">
      <div soho-busyindicator soho-datagrid
        activated="true"
        menuId="{{contextMenuId}}"
        (selected)="onSelected($event)"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
        (rowClicked)="onRowClicked($event)"
        (contextMenu)="onContextMenu($event)"
        [columns]="columns | async"
        [data]="data | async"
        displayDelay="0"
        selectable="multiple"
        filterable="true"
      ></div>
    </section>
  </div>
</div>

<ul soho-popupmenu
  id="{{contextMenuId}}"
  [eventObj]="contextMenuEvent"
  [attachToBody]="true"
  [removeOnDestroy]="true"
  (selected)="onMenuItemSelected($event)"
  (beforeopen)="onBeforeContextMenuOpen($event)"
  (close)="onContextMenuClose($event)"
  (open)="onContextMenuOpen($event)"
>
  <li soho-popupmenu-item *ngFor="let item of menuItems" [subMenu]="item.submenu">
    <a soho-popupmenu-label href="#">{{item.label}}</a>
    <ul *ngIf="item.submenu">
      <li soho-popupmenu-item *ngFor="let sub of item.submenu">
        <a soho-popupmenu-label>{{sub.label}}</a>
      </li>
    </ul>
  </li>
</ul>
