<div class="row">
  <div class="twelve columns">
    <h2 class="fieldset-title">Soho Data Grid - Angular Editor</h2>
    <p>
      This demo illustrates the use of a angular components as editors.
    </p>
    <div class="field">
      <label soho-label for="locales">{{'Locales'|sohoTranslate}}</label>
      <select soho-dropdown noSearch name="locales" (change)="onChange($event)">
        <option *ngFor="let locale of locales" [value]="locale.value">{{locale.label}}</option>
      </select>
    </div>
  </div>
</div>

<br>
<div class="row top-padding">
  <div class="twelve columns demo" role="main">
    <div soho-datagrid *ngIf="gridOptions" (cellchange)="onCellChange($event)" [gridOptions]="gridOptions"></div>
  </div>
</div>
