<div class="example-section">
  <form [formGroup]="form">
    <div class="row top-padding">

      <div class="six columns">
        <button soho-button (click)="showSelected()">Show Selected</button><br><br>
        <label soho-label for="appInstance_desc">Description Only</label>
        <input soho-lookup
          [(ngModel)]="model.desc"
          [columns]="columns_desc"
          [options]="{
            selectable: 'multiple',
            allowSelectAcrossPages: true,
            columnIds: ['applicationInstanceName', 'applicationInstanceGuid'],
            paging: true,
            pagesize: 5,
            pagesizes: [3, 5, 10, 15]
          }"
          [source]="source.bind(context)"
          [toolbar]="{
            results: true,
            keywordFilter: false,
            actions: true,
            rowHeight: false,
            collapsibleFilter: false,
            fullWidth: true,
            contextualToolbar: true
          }"
          allowDuplicates="true"
          field="applicationInstanceName"
          formControlName="appInstance_desc"
          (change)="onChange($event)"
          #lookup/>

          <div class="listviewApprova" id="selectedListView" *ngIf="this.selectedRows && this.selectedRows.length > 0">
          <soho-listview #simpleSelectListView>
            <li soho-listview-item *ngFor="let obj of this.selectedRows; index as i">
              <p>{{obj.data[this.fieldNameAppInstance] }}</p>
              <div class="l-pull-right">
                <button soho-button="icon" aos-translate translateTitle="Global_Remove" icon="close"
                (click)="this.delSelectedTree(i)">
                </button>
              </div>
            </li>
          </soho-listview>
        </div>

      </div>

    </div>
  </form>
</div>
